.logo{
    margin-top: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-family: 'poppins';
    font-weight: 700;
    font-style: italic;
}